@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@500&display=swap');

$color-text: #06010b;
$color-background: #fbfbea;
$color-primary: #4c3572;
$color-secondary: #a1df93;
$color-accent: #354c39;
$navbar-height: 75px;

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $color-background;
}

.navbar {
    background-color: $color-secondary;
}

.navbar-brand{
    color: $color-accent;
}

.nav-link, .nav-item{
    color: $color-primary;
}

.navbar-text {
    color: $color-text;
}

.nav-text a {
    color: $color-text;
}

.active {
    color: $color-primary !important;
}

.user-area {
    color: $color-primary;
}

.dropdown-menu,
.dropdown-item:hover {
    background-color: $color-background;
}

.dropdown-item,
.dropdown-item:hover {
    color: $color-primary;
}

.dropdown-item:hover {
    color: $color-secondary;
    background-color: $color-primary;
}

.footer {
    background-color: $color-secondary;
    font-size: 0.8em;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: $color-text;
    font-size: 2em;
    font-weight: bold;
}

.text {
    font-size: 1.5em;
    color: $color-accent;
}

.btn {
    color: $color-background;
    background-color: $color-accent;
    border-color: $color-text;
}

.btn:hover {
    color: $color-secondary;
    background-color: $color-primary;
}

.btn:active,
.btn:focus {
    color: $color-text;
    background-color: $color-background;
}

.content-container {
    min-height: auto;
    flex: 1;
}

.flashes {
    list-style: none;
    position: fixed;
    top: $navbar-height;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;  /* Adjust the width as needed */
    max-width: 400px;  /* Set a maximum width if desired */
    text-align: center;
    padding: 10px;
    color: $color-secondary;
    background-color: $color-primary;  /* Set the background color */
    border: 1px solid $color-accent;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);  /* Add a box shadow for style */
    z-index: 1000;  /* Ensure a high z-index to appear above other content */
}

.flashes.show {
    top: $navbar-height;
}

@keyframes slideUp {
    0% {
        top: $navbar-height;
    }
    100% {
        top: -100%;
    }
}

.flashes.slide-up {
    animation: slideUp 1.5s ease-in-out 4s forwards;  /* Adjust the duration and delay as needed */
}

.avatar{
    border-radius: 50%;
    border: 2px solid $color-accent;
}