@import 'base.scss';

.carousel{
    display: flex;
    align-items: center;
    box-shadow: inset 0px 0px 50px $color-accent;
    border: 5px solid $color-accent;
}

.carousel-item{
    object-fit: contain;
}