@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@500&display=swap");
body {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fbfbea;
}

.navbar {
  background-color: #a1df93;
}

.navbar-brand {
  color: #354c39;
}

.nav-link, .nav-item {
  color: #4c3572;
}

.navbar-text {
  color: #06010b;
}

.nav-text a {
  color: #06010b;
}

.active {
  color: #4c3572 !important;
}

.user-area {
  color: #4c3572;
}

.dropdown-menu,
.dropdown-item:hover {
  background-color: #fbfbea;
}

.dropdown-item,
.dropdown-item:hover {
  color: #4c3572;
}

.dropdown-item:hover {
  color: #a1df93;
  background-color: #4c3572;
}

.footer {
  background-color: #a1df93;
  font-size: 0.8em;
}

h1 {
  font-family: "Playfair Display", serif;
  color: #06010b;
  font-weight: bold;
}

h2 {
  color: #06010b;
}

h3 {
  color: #06010b;
}

.text {
  font-size: 1.5em;
  color: #354c39;
}

.btn {
  color: #fbfbea;
  background-color: #354c39;
  border-color: #06010b;
}

.btn:hover {
  color: #a1df93;
  background-color: #4c3572;
}

.btn:active,
.btn:focus {
  color: #06010b;
  background-color: #fbfbea;
}

.content-container {
  min-height: auto;
  flex: 1;
}

.flashes {
  list-style: none;
  position: fixed;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 400px;
  text-align: center;
  padding: 10px;
  color: #a1df93;
  background-color: #4c3572;
  border: 1px solid #354c39;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.flashes.show {
  top: 75px;
}

@keyframes slideUp {
  0% {
    top: 75px;
  }
  100% {
    top: -100%;
  }
}
.flashes.slide-up {
  animation: slideUp 1.5s ease-in-out 4s forwards;
}

.avatar {
  border-radius: 50%;
  border: 2px solid #354c39;
}

.brand-text {
  font-size: 0.8em;
}

/* Additional Styles for Interactive Feedback */
/* Navbar Styles */
.navbar-brand:hover {
  color: #4a6a50;
}

.nav-link:hover,
.nav-item:hover {
  color: white;
}

.navbar-toggler-icon:hover {
  color: #c3ebba;
}

/* Button Styles */
.btn:hover {
  color: #06010b;
  background-color: #4a6a50;
  border-color: #c3ebba;
}

.btn:active,
.btn:focus {
  color: #fbfbea;
  background-color: #c3ebba;
  border-color: #4c3572;
}

/* Footer Styles */
.nav-link:hover,
.nav-item:hover {
  color: #634595;
}

/* Heading Styles */
h1:hover,
h3:hover {
  color: #4a6a50;
}

/* Flash Messages Styles */
.flashes:hover {
  background-color: #c3ebba;
  color: #4c3572;
}

/* Avatar Styles */
.avatar:hover {
  border-color: #4a6a50;
}

/* Brand Text Styles */
.brand-text:hover {
  color: #634595;
}

.user-avatar {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  padding: 5%;
}

.form-heading {
  display: inline-block;
  color: #06010b;
}

.form-container {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  display: inline-block;
  min-width: 20em;
  max-width: 40em;
  border: 2px solid #4c3572;
  background-color: #a1df93;
}

.form-label {
  font-size: 1em;
  color: #06010b;
}

.form-control {
  font-size: 1em;
  color: #4c3572;
  background-color: #fbfbea;
  border-color: #06010b;
  resize: none;
}
.form-control::placeholder {
  color: #354c39;
}
.form-control:focus {
  background-color: #354c39;
  color: #fbfbea;
}

.form-check-input {
  margin-right: 0.5em;
  background-color: #a1df93;
  border-color: #4c3572;
}
.form-check-input:checked {
  background-color: #4c3572;
  color: #a1df93;
}

.invalid-feedback {
  background-color: #a1df93;
  color: #06010b;
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.photo {
  border-radius: 50%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.username {
  font-size: 2em; /* Increase font size */
  font-weight: bold;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left; /* Center-align the text */
}

.about-me {
  margin-top: 20px;
  font-size: 1.1em; /* Increase font size */
  max-width: 70%; /* Set the maximum width to 100% */
  overflow-wrap: break-word; /* Allow word wrapping within the container */
}

.last-seen {
  margin-top: 10px;
  color: #4c3572;
  font-size: 16px; /* Adjust font size */
}

/*# sourceMappingURL=user.css.map */
