{% extends "base.html" %}

{% block content %}
    <br>

    {% if scroll %}
    <script>
        document.location.hash = '#' + '{{ scroll }}';
    </script>
    {% endif %}

    <div class="about-section text-center">
        <h1 class="Heading">About Us</h1>
    </div>

    <div class="container">
        <div class="row justify-content-center" id="images">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ url_for('static', filename='assets/tani.jpeg') }}" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h2 class="card-title">Tanishk Narula</h2>
                        <p class="card-text">Back End Developer</p>
                        <p class="card-text">Hey there, I am Tanishk Narula, a student of Banasthali Public School and a high school coder. I specialize in back-end development and ensuring the smooth functioning of our application.</p>
                        <p class="card-text">tanidev69@gmail.com</p>
                        <button class="btn btn-primary">Contact</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ url_for('static', filename='/assets/parth.jpeg') }}" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h2 class="card-title">Parth Dhamija</h2>
                        <p class="card-text">Art Director</p>
                        <p class="card-text">Hey there, I am Parth Dhamija, a student of Banasthali Public School and a high school coder. As the Art Director, I focus on the visual aspects of our project, ensuring a captivating and user-friendly design.</p>
                        <p class="card-text">parthd2t6@gmail.com</p>
                        <button class="btn btn-primary">Contact</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ url_for('static', filename='/assets/about_nishkarsh.jpg') }}" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h2 class="card-title">Nishkarsh Bains</h2>
                        <p class="card-text">Front End Designer</p>
                        <p class="card-text">Hey there, I am Nishkarsh Bains, a student of Banasthali Public School and a high school coder. My role as a Front End Designer involves creating an engaging and intuitive user interface for our application.</p>
                        <p class="card-text">nishcodingzone@gmail.com</p>
                        <button class="btn btn-primary">Contact</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
