<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Refuse Reapers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='assets/icons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='assets/icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/icons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='assets/icons/site.webmanifest') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/base.css') }}">
    
    <style>
        body {
            overflow-x: hidden;
            background: linear-gradient(45deg, #f9f9f7, #adfade);
        }

        .logos {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-x: auto;
            padding: 10px;
        }

        .logos img {
            width: 80px;
            height: auto;
            margin: 0 5px;
        }

        @media screen and (max-width: 767px) {
            .logos img {
                width: 65px;
                height: 67px;
            }
        }
    </style> 
</head>

<body>
    <div class="logos">
        <img src="{{ url_for('static', filename='assets/reuse.png') }}" alt="Reuse Logo">
        <img src="{{ url_for('static', filename='assets/azadi.png') }}" alt="Azadi Logo">
        <img src="{{ url_for('static', filename='assets/atma.png') }}" alt="Atma Logo">
        <img src="{{ url_for('static', filename='assets/saaf.png') }}" alt="Saaf Logo">
        <img src="{{ url_for('static', filename='assets/digital.png') }}" alt="Digital Logo">
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark-green border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='assets/reuse.png') }}" alt="Logo" width="66" height="49">
            </a>
            <span class="navbar-text brand-text">
                <!-- <p style="font-weight: bold; font-size: 20px;color: rgb(26, 155, 26);">Streamlining Waste Management</p> -->
                <span class="tagline-text">Streamlining Waste Management</span>
            </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if current_user.is_anonymous %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('register') }}">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact_us') }}">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about_us') }}">About Us</a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{ current_user.avatar(32) }}" alt="User Photo" class="avatar me-1">
                                {{ current_user.username }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="{{ url_for('user', username=current_user.username) }}">Your Profile</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- Content -->
    <div class="container my-5">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 bg-dark-green">
        <div class="container">
            <ul class="nav justify-content-center mb-3">
                <li class="nav-item"><a href="{{ url_for('features') }}" class="nav-link">Features</a></li>
                <li class="nav-item"><a href="{{ url_for('index') }}#faq" class="nav-link">FAQs</a></li>
                <li class="nav-item"><a href="{{ url_for('terms') }}" class="nav-link">Terms Of Services</a></li>
                <li class="nav-item"><a href="{{ url_for('privacy') }}" class="nav-link">Privacy Policy</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('register_truck') }}">Truck Driver? Click Here!</a></li>
            </ul>
            <p class="text-muted text-center mb-0">© 2024 Refuse Reapers Inc.</p>
        </div>
    </footer>

    <!-- JavaScript Libraries -->
    {{ moment.include_moment() }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    <script>
        // Function to schedule a notification 10 seconds after page load
        function scheduleNotification() {
            setTimeout(function () {
                if ('Notification' in window) {
                    Notification.requestPermission().then(function (permission) {
                        if (permission === 'granted') {
                            new Notification("Time for Trash Pickup!", {
                                body: "The truck is near you!"
                            });
                        }
                    });
                }
            }, 10000);
        }
        
        scheduleNotification()

        document.addEventListener("DOMContentLoaded", function () {
            // Smooth scrolling for anchor links
            document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                anchor.addEventListener('click', function (e) {
                    e.preventDefault();

                    const targetId = this.getAttribute('href').substring(1);
                    const targetElement = document.getElementById(targetId);

                    if (targetElement) {
                        window.scrollTo({
                            top: targetElement.offsetTop,
                            behavior: 'smooth'
                        });
                    }
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            const flashes = document.querySelector('.flashes');

            if (flashes) {
                flashes.classList.add('show');

                setTimeout(() => {
                    flashes.classList.add('slide-up');
                }, 5);
            }
        });
    </script>
</body>
</html>
