{% extends "base.html" %}

{% block content %}

<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, dt {
    color: #333;
}

dl {
    margin-bottom: 20px;
}

dt {
    font-weight: bold;
    margin-top: 10px;
}

dd {
    margin-left: 20px;
    margin-bottom: 10px;
}
.hh{
    text-align: center;
    margin-bottom: 45px;
}

</style>
<div class="container">
        <h1 class="hh">Frequently Asked Questions (FAQ)</h1>

        <h2>General Questions</h2>
        <dl>
            <dt>Q: What is the Waste Pickup Tracker web app?</dt>
            <dd>A: The Waste Pickup Tracker web app is a platform designed to help households keep track of waste collection schedules and receive alerts when the waste picker is nearby. It aims to assist users in better preparation for waste disposal.</dd>



        </dl>

        <!-- <h2>Account Management</h2>
        <dl>
            <dt>Q: How can I reset my password?</dt>
            <dd>A: To reset your password, navigate to the login page and click on the "Forgot Password" or "Reset Password" link. Follow the instructions sent to your registered email address to set a new password.</dd>

     

        </dl> -->

        <h2>Usage and Alerts</h2>
        <dl>
            <dt>Q: How do I receive alerts for waste pickups?</dt>
            <dd>A: Ensure that you have enabled notifications in your account settings. You will receive alerts based on the waste pickup schedule and when the waste picker is nearby.</dd>

           

        </dl>

        <h2>Technical Support</h2>
        <dl>
            <dt>Q: I'm experiencing technical issues. How can I get help?</dt>
            <dd>A: For technical support, please contact our customer support team at [parthd2t6@gmail.com]. Provide details about the issue you're facing, and our team will assist you as soon as possible.</dd>

         

        </dl>

        <h2>Contact Information</h2>
        <p>If you have additional questions or need further assistance, please contact us at [nishcodingzone@gmail.com].</p>
    </div>

{% endblock %}